# BLOOM Carbon Footprint : An Analysis of the logs

# Introduction

This notebook aims to analyse the SLURM logs of the experiments run on Jean Zay during the BigScience Project.
They were obtained using the `jobs_info.py` script.

## Data
The logs can be found in the Project-end folder.

## TODO
- Add GPU hours for each experiments, verify that it match quotas, extract total for main training
- Add CPU hours for each experiments, verify that it match quotas
- Add Histogram runs duration

# Modules loading

In [1]:
import pandas as pd
import matplotlib
import os
import numpy as np

# Data loading, pre-processing and checks

In [2]:
# Read files into a single DataFrame
directory = "Project-end/"
file_paths = [directory+x for x in os.listdir(directory) if x.endswith("logs.txt")]
df_list = [pd.read_csv(filename, sep="|", header=None).assign(file=filename.split("/")[1]) for filename in file_paths]
df = pd.concat(df_list)
df.columns= ['job_id', 'num_V100_32GB', 'num_V100_16GB', 'num_A100_40GB', 'num_A100_80GB', \
             'alloc_cpu', 'alloc_mem', 'alloc_energy', 'partition', 'group', 'elapsed',\
              'qos','jobname', 'start', 'end', 'workdir', 'account' ,'file']

# Set display
pd.set_option('display.max_columns', 1000)  # or 1000
pd.set_option('display.max_rows', 1000)  # or 1000
pd.set_option('display.max_colwidth', -1) 

df.head(3)

/var/folders/_l/bj8z3bgn341fz_btklx56xfr0000gq/T/ipykernel_2368/3972656704.py:13: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,job_id,num_V100_32GB,num_V100_16GB,num_A100_40GB,num_A100_80GB,alloc_cpu,alloc_mem,alloc_energy,partition,group,elapsed,qos,jobname,start,end,workdir,account,file
0,771344,0,0,0,0,50.0,100G,25561382.0,cpu_p1,genini01,18:37:03,qos_cpu-t4,preprocess_oscar,2022-01-04T11:48:15,2022-01-05T06:25:18,/gpfsdswork/projects/rech/rcy/ulz63oj/BigScience-experiments,six@cpu,2022_08_24_roman_castagne_logs.txt
1,772361,0,0,0,0,NaN,NaN,NaN,cpu_p1,genini01,00:00:00,qos_cpu-t4,preprocess_oscar,2022-01-04T14:22:30,2022-01-04T14:22:30,/gpfsdswork/projects/rech/rcy/ulz63oj/BigScience-experiments,six@cpu,2022_08_24_roman_castagne_logs.txt
2,772368,0,0,0,0,NaN,NaN,NaN,cpu_p1,genini01,00:00:00,qos_cpu-t4,preprocess_oscar,2022-01-04T14:23:51,2022-01-04T14:23:51,/gpfsdswork/projects/rech/rcy/ulz63oj/BigScience-experiments,six@cpu,2022_08_24_roman_castagne_logs.txt

In [3]:
# Delete useless fields
df=df.drop(['alloc_energy','workdir'], axis=1)

# Cast datetimes as such
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'],  errors='coerce')

# We are going to make our own duration as elapsed field is sometimes buggy
df['elapsed'] = pd.to_timedelta(df['elapsed'])
df['duration'] = df['end'] - df['start']
df['duration_diff']= df['duration'] - df['elapsed']

# Hacky columns re-arrange
df=df[df.columns[[0,1,2,3,4,5,6,7,8,12,13,9,16,17,10,11,14,15]]] 

# Show example of elapsed time being bogus
df[df['duration_diff']>pd.to_timedelta(0)].head(3)

,job_id,num_V100_32GB,num_V100_16GB,num_A100_40GB,num_A100_80GB,alloc_cpu,alloc_mem,partition,group,start,end,elapsed,duration,duration_diff,qos,jobname,account,file
7,783484,0,0,0,0,2.0,4G,cpu_p1,genini01,2022-01-05 11:31:44,2022-01-06 13:30:08,-5 days +18:01:36,1 days 01:58:24,5 days 07:56:48,qos_cpu-t4,preprocess_oscar,six@cpu,2022_08_24_roman_castagne_logs.txt
8,783489,0,0,0,0,2.0,4G,cpu_p1,genini01,2022-01-05 11:31:44,2022-01-06 13:30:08,-5 days +18:01:36,1 days 01:58:24,5 days 07:56:48,qos_cpu-t4,preprocess_oscar,six@cpu,2022_08_24_roman_castagne_logs.txt
9,783491,0,0,0,0,2.0,4G,cpu_p1,genini01,2022-01-05 11:31:44,2022-01-06 13:30:08,-5 days +18:01:36,1 days 01:58:24,5 days 07:56:48,qos_cpu-t4,preprocess_oscar,six@cpu,2022_08_24_roman_castagne_logs.txt

In [5]:
# Compute GPU hours per hardware type
durations_in_hours = (df['duration'] / np.timedelta64(1, 's') / 3600)
df['hours_V100_32GB'] = df['num_V100_32GB'] * durations_in_hours
df['hours_V100_16GB'] = df['num_V100_16GB'] * durations_in_hours
df['hours_A100_40GB'] = df['num_A100_40GB'] * durations_in_hours
df['hours_A100_80GB'] = df['num_A100_80GB'] * durations_in_hours
df[df['hours_A100_80GB']>0].head(3)

,job_id,num_V100_32GB,num_V100_16GB,num_A100_40GB,num_A100_80GB,alloc_cpu,alloc_mem,partition,group,start,end,elapsed,duration,duration_diff,qos,jobname,account,file,hours_V100_32GB,hours_V100_16GB,hours_A100_40GB,hours_A100_80GB
758,662615,0,0,0,8,128.0,480000M,gpu_p5,six,2022-03-22 22:37:39,2022-03-22 23:09:43,0 days 00:32:04,0 days 00:32:04,0 days,qos_gpu-t3,bash,NaN,2022_08_24_thomwolf_jz_logs.txt,0.0,0.0,0.0,4.275556
2184,406772,0,0,0,384,6144.0,22500G,gpu_p5,genhug01,2022-06-12 00:31:16,2022-06-12 00:31:17,0 days 00:00:01,0 days 00:00:01,0 days,qos_gpu-gc,tr11-176B-ml,NaN,new_hugo_laurencon_jz_logs.txt,0.0,0.0,0.0,0.106667
4801,1677884,0,0,0,1,6.0,22500M,gpu_p5,genltc01,2022-07-29 19:59:56,2022-07-29 20:00:22,0 days 00:00:26,0 days 00:00:26,0 days,qos_gpu-t3,training,NaN,2022_08_01_pierrec_jz_logs.txt,0.0,0.0,0.0,0.007222

In [33]:
df.hours_A100_80GB.sum() # Capturing 99.3% of quotas, looking fine

1242577.3975

In [31]:
df.hours_V100_32GB.sum() + df.hours_V100_16GB.sum() # Capturing 115% of quotas, maybe quotas does not count all partitions?

2363314.7327777776

In [30]:
df_v100 = df[(df['hours_V100_32GB']>0) | (df['hours_V100_16GB']>0)]
df_v100.partition.value_counts()

gpu_p13    26142
gpu_p2     8338
gpu_p2l    31
gpu_p2s    25
Name: partition, dtype: int64

In [6]:
# Compute GPU power for each job, assuming running at 100% TDP, using hardware info from JZ documentation --> http://www.idris.fr/eng/jean-zay/cpu/jean-zay-cpu-hw-eng.html
df['gpu_power_watts_hours'] = df['hours_V100_32GB'] * 300 # https://resources.nvidia.com/en-us-virtualization-and-gpus/v100-datasheet
df['gpu_power_watts_hours'] += df['hours_V100_16GB'] * 300 # https://resources.nvidia.com/en-us-virtualization-and-gpus/v100-datasheet
df['gpu_power_watts_hours'] += df['hours_A100_40GB'] * 250 # https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/a100/pdf/A100-PCIE-Prduct-Brief.pdf
df['gpu_power_watts_hours'] += df['hours_A100_80GB'] * 400 # https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/a100/pdf/nvidia-a100-datasheet-nvidia-us-2188504-web.pdf

df[df['gpu_power_watts_hours']>0].head(3)

,job_id,num_V100_32GB,num_V100_16GB,num_A100_40GB,num_A100_80GB,alloc_cpu,alloc_mem,partition,group,start,end,elapsed,duration,duration_diff,qos,jobname,account,file,hours_V100_32GB,hours_V100_16GB,hours_A100_40GB,hours_A100_80GB,gpu_power_watts_hours
18,1127041,64,0,0,0,1280.0,2.50T,gpu_p13,six,2022-01-13 05:54:05,2022-01-13 06:22:04,0 days 00:27:59,0 days 00:27:59,0 days,qos_gpu-t3,mbert_alpha,six@gpu,2022_08_24_roman_castagne_logs.txt,29.848889,0.0,0.0,0.0,8954.666667
21,1308991,64,0,0,0,1280.0,2.50T,gpu_p13,six,2022-01-17 16:31:47,2022-01-17 16:35:37,0 days 00:03:50,0 days 00:03:50,0 days,qos_gpu-t3,mbert_alpha,six@gpu,2022_08_24_roman_castagne_logs.txt,4.088889,0.0,0.0,0.0,1226.666667
22,1314956,4,0,0,0,80.0,160G,gpu_p13,six,2022-01-17 18:29:49,2022-01-18 04:30:18,0 days 10:00:29,0 days 10:00:29,0 days,qos_gpu-t3,mbert_alpha,six@gpu,2022_08_24_roman_castagne_logs.txt,40.032222,0.0,0.0,0.0,12009.666667

# Data sanity checks

In [79]:
df[df['job_id']=='726762']

,job_id,num_V100_32GB,num_V100_16GB,num_A100_40GB,num_A100_80GB,alloc_cpu,alloc_mem,partition,group,start,end,elapsed,duration,duration_diff,qos,jobname,account,file
41517,726762,0,0,0,384,6144.0,22500G,gpu_p5,six,2022-03-25 11:09:19,2022-03-28 11:14:56,-10 days +16:54:23,3 days 00:05:37,12 days 07:11:14,qos_gpu-gc,tr11-176B-ml,NaN,2022_08_02_thomas_wang_jz_logs.txt

In [80]:
df['duration']

0       0 days 18:37:03
1       0 days 00:00:00
2       0 days 00:00:00
3       0 days 22:55:58
4       0 days 06:26:29
              ...
39026   0 days 00:09:47
39027   0 days 00:11:51
39028   0 days 00:20:09
39029   0 days 00:20:54
39030   0 days 00:10:45
Name: duration, Length: 177192, dtype: timedelta64[ns]

In [81]:
df['duration'].sum()

Timedelta('5816 days 13:22:40')

In [82]:
df['file'].value_counts()

2022_08_02_thomas_wang_jz_logs.txt      45967
2022_08_08_luciles_logs.txt             39031
2022_08_01_stas_jz_logs.txt             38111
2022_08_25_victorsanh_jz_logs.txt       29049
2022-08-24_tvn_jz_logs.txt              11385
2022_08_01_muennighoff_jz_logs.txt      5139
2022_08_01_pierrec_jz_logs.txt          4813
new_hugo_laurencon_jz_logs.txt          2185
2022_08_24_thomwolf_jz_logs.txt         760
2022_08_02_younesb_jz_logs.txt          603
2022_08_24_roman_castagne_logs.txt      110
2022_08_01_sylvainv_jz_logs.txt         34
2022_08_08_danielhesslow_jz_logs.txt    5
Name: file, dtype: int64

# Main Bloom Training

In [7]:
# select only final training runs
bloomdf = df[df['jobname'] == 'tr11-176B-ml']
bloomdf.head(3)

,job_id,num_V100_32GB,num_V100_16GB,num_A100_40GB,num_A100_80GB,alloc_cpu,alloc_mem,partition,group,start,end,elapsed,duration,duration_diff,qos,jobname,account,file,hours_V100_32GB,hours_V100_16GB,hours_A100_40GB,hours_A100_80GB,gpu_power_watts_hours
2184,406772,0,0,0,384,6144.0,22500G,gpu_p5,genhug01,2022-06-12 00:31:16,2022-06-12 00:31:17,0 days 00:00:01,0 days 00:00:01,0 days,qos_gpu-gc,tr11-176B-ml,NaN,new_hugo_laurencon_jz_logs.txt,0.0,0.0,0.0,0.106667,42.666667
41501,417634,0,0,0,384,6144.0,22500G,gpu_p5,six,2022-03-11 18:09:15,2022-03-11 18:11:04,0 days 00:01:49,0 days 00:01:49,0 days,qos_gpu-gc,tr11-176B-ml,NaN,2022_08_02_thomas_wang_jz_logs.txt,0.0,0.0,0.0,11.626667,4650.666667
41502,417716,0,0,0,384,6144.0,22500G,gpu_p5,six,2022-03-11 18:18:33,2022-03-11 18:20:04,0 days 00:01:31,0 days 00:01:31,0 days,qos_gpu-gc,tr11-176B-ml,NaN,2022_08_02_thomas_wang_jz_logs.txt,0.0,0.0,0.0,9.706667,3882.666667

In [8]:
bloomdf['num_A100_80GB'].value_counts()

384    316
192    27
0      20
144    13
288    8
1      5
32     4
8      2
16     2
216    1
Name: num_A100_80GB, dtype: int64

In [9]:
bloomdf.duration.sum()

Timedelta('118 days 05:40:42')

In [11]:
bloomdf.hours_A100_80GB.sum()

1082989.4766666668

In [10]:
bloomdf.gpu_power_watts_hours.sum() / 1000

433195.79066666664

# Other Trainings

In [16]:
traindf = df[df['jobname'].str.startswith('tr')]
traindf = traindf[traindf['jobname'] != 'tr11-176B-ml']
traindf = traindf[~traindf['jobname'].str.contains('sync')]
traindf = traindf[~traindf['jobname'].str.contains('slurm')]
traindf = traindf[~traindf['jobname'].str.contains('move')]
traindf = traindf[~traindf['jobname'].str.contains('eval')]
traindf = traindf[~traindf['jobname'].str.contains('tokenizer')]
traindf.shape

(6430, 18)

In [17]:
traindf['jobname'].value_counts()

tr6e-1B3-prefix-lm                                        1435
tr6f-1B3-prefix-lm                                        1431
tr6g-1B3-prefix-lm                                        1008
tr7d-1B3-alibi                                            433
tr11                                                      302
tr11-200B-ml                                              204
tr8-104B                                                  153
tr11f-6B3-ml                                              146
tr8b-104B-cl                                              131
tr8b-104B-bnb                                             123
tr8b-104B-emb-norm                                        117
tr13f-6B3-ml-t0                                           102
tr5c-1B3-multilingual-alpha-alibi                         81
tr11c-2B5-ml                                              78
tr5d-1B3-multilingual-equal-alibi                         73
tr11e-350M-ml                                             72
tr1-13B-round3                                            70
tr11d-760M-ml                                             69
tr11b-1B3-ml                                              63
tr8b-104B-cl-a100                                         50
tr8b-104B                                                 46
tr5b-1B3-multilingual-alpha                               42
tr7d-1B3-modeling-alibi-fp16                              21
tr8-104B-data-study-data-with-many-slashes                14
tr8b-104B-pile                                            14
tr13f-6B3-ml-t0-memcheck                                  14
tr7d-1B3-modeling-alibi-bf16                              12
tr8-104B-mt5                                              12
training                                                  12
tr11-176B-ml-spike                                        12
tr11e-350M-ml-t0                                          11
tr11f-6B3-ml-universal                                    8
tr11-176B-ml-universal                                    6
train_tokenize_v2_toy                                     5
tr11b-1B3-ml-swiglu-a                                     5
tr8b-104B-emb-norm-a100-bf16                              4
train_tokenize_v2                                         4
tr8-104B-tp4-pp32-bs1024                                  3
tr11e-350M-ml-continue-old                                3
tr8-104B-tp4-pp16-bs1024                                  3
tr8-104B-data-study-data-no-basic-junk                    3
tr8-104B-tp4-pp64-bs1024                                  3
tr8-104B-tp4-pp32-bs2048                                  2
tr8-104B-tp4-pp32                                         2
tr11b-1B3-ml-noswiglu                                     2
tr11b-1B3-ml-swiglu                                       2
tr7d-1B3-modeling-alibi-fp16-rampup                       2
tr11-200B-ml-2                                            2
tr11e-350M-ml-zero1                                       2
tr11e-350M-ml-swiglu                                      2
tr11e-350M-ml-noswiglu                                    1
tr8-104B-tp4-pp16                                         1
tr11b-1B3-ml-noswiglu-a                                   1
tr8-104B-tp4-pp8                                          1
tr5c-1B3-multilingual-equal-alibi                         1
trex_bs2560_hard_neg                                      1
tr8-104B-data-study-data-basic-junk-and-low-stopwords2    1
tr8-104B-data-study-data-basic-junk-and-low-stopwords     1
tr7d-1B3-modeling-alibi-bf16-rampup                       1
tr8-104B-data-study-TEMPLATE                              1
tr8-104B-data-study-data-basic-junk                       1
tr5b-1B3-multilingual-alpha-16                            1
tr8-104B-data-study-data-junk-with-stopwords              1
tr8-104B-data-study-data-with-only-slashes                1
tr8-104B-data-study-data-basic-junk-only2                 1
tr8-104B-data-study-data-basic-junk-only                  1
Name: jobname, dtype: int64

In [18]:
traindf.duration.sum()

Timedelta('488 days 13:34:21')

# Eval

In [20]:
evaldf = df[df['jobname'].str.contains('eval')]
evaldf.shape

(16041, 18)

In [21]:
evaldf['jobname'].value_counts()

eval-tr3                                                                            3643
evaluate_t0                                                                         2337
eval_finetune-t5-xxl-lm-d4-091621                                                   747
score_eval_finetune-t5-xxl-lm-d4-091621                                             694
score_eval_finetune-t5-xxl-lm-d4-all-091621                                         671
eval_baseline                                                                       534
eval_finetune-t5-xxl-lm-d4-all-091621                                               531
eval_finetune-t5-xl-lm-d4-091621                                                    530
eval_finetune-t5-xxl-lm-d4-091621-512                                               530
eval_finetune-t5-xxl-lm-d4-gpt-091621                                               514
bs-eval-bloom-176b                                                                  504
score_eval_finetune-t5-xxl-lm-d4-og-091621                                          446
score_eval_finetune-t5-xl-lm-d4-091621                                              446
score_eval_finetune-t5-xxl-lm-d4-091621-512                                         446
score_eval_finetune-t5-xxl-lm-d4-gpt-091621                                         446
bs-eval-opt-175b                                                                    397
eai-eval                                                                            396
tr3n_harness_eval                                                                   324
eval                                                                                267
eval_finetune-t5-xxl-lm-d4-og-091621                                                265
score_eval_finetune-t5-xxl-lm-d4-all-og-091621                                      231
score_eval                                                                          128
eai-eval-opt-175b                                                                   127
biasfairness_evaluate                                                               116
run_evalharness-tr11-176B-a100-p1-muennighoff                                       73
run_evalharness-tr11-176B-a100                                                      48
bseval-tr13f-6B3                                                                    48
eai-eval-bloom-176b                                                                 48
run_evalharness-tr11-176b-ml                                                        44
tr3n_checkpoints_harness_eval                                                       32
eai-eval-opt-125m                                                                   26
tr3n_vs_tr3o_harness_eval                                                           26
tr3n_with_eosharness_eval                                                           25
run_evalharness-tr11-176b-ml-muennighoff                                            23
run_evalharness-tr13f-6B3-prefix                                                    20
tr13-base-eval                                                                      20
tr7b-350M-alibi-eval-1-seq-len.slurm                                                20
tr7a-1B3-alibi-eval                                                                 17
eval-array                                                                          17
run_evalharness-tr11-350M-ml                                                        15
eval-opt                                                                            14
lm-eval-tr5b-1B3-multilingual-alpha                                                 14
lm-eval-tr4c-1B3-rotary                                                             12
modelling-metadata-html-exp1-subexp1-evaluation-without-metadata                    12
run_bsevalharness-tr11e-350m-ml                                                     12
run_bsevalharness-tr11b-1b3-ml                                                      12
run_bsevalharness-tr11-176b-ml                                                      10
download_bs_eval                                                                    10
gpt_eval                                                                            9
thomas_run_evalharness-tr11-176b-ml                                                 9
run_evalharness-tr13f-6b3                                                           8
350M-alibi-check-eval-1-seq.slurm                                                   7
run_evalharness-tr11-176B-a100-p2                                                   7
run_evalharness-tr11c-6b3-ml                                                        7
eval_gpt_prefix_loss.slurm                                                          6
bs-eval-opt-125m                                                                    6
run_evalharness-tr11b-2b5-ml                                                        6
modelling-metadata-html-exp1-subexp2-evaluation-without-metadata                    6
eval_gpt_1B3_prefix_loss.slurm                                                      5
eval-harness-deepspeed                                                              5
lm-eval-swiglu                                                                      5
eval-bloom                                                                          5
eai-eval-opt                                                                        5
modelling-metadata-html-metadata-exp1-evaluation-without-metadata-create-dataset    5
tr3n_smoothed_harness_eval                                                          4
lm-eval-tr3m-1B3-emb-norm-pile                                                      4
lm-eval-tr3m-1B3-emb-norm                                                           4
run_bsevalharness-tr11c-2b5-ml                                                      4
350M-alibi-check-eval-2-seq.slurm                                                   4
run_evalharness-tr11d-760m-ml                                                       3
tr3n-1B3-pile-fancy-eval                                                            3
eval_gpt_rotary_prefix_loss.slurm                                                   3
bs-code-eval-bloom-176b                                                             3
run_bsevalharness-tr11b-2b5-ml                                                      3
run_evalharness-tr11-2B5-ml                                                         2
run_evalharness-tr11-1B3-ml                                                         2
eval-opt-int8-thresh-6                                                              2
run_evalharness-tr11e-350m-ml                                                       2
eval-bloom-bf16                                                                     2
eval-opt-fp16                                                                       2
eval-opt-int8                                                                       2
eval-harness-deepspeed-test                                                         2
lm-eval-tr7d-1B3-alibi-1                                                            2
run_bsevalharness-tr11-350M-ml                                                      2
run_evalharness-tr13c-6b3                                                           2
run_evalharness-tr11c-6b3-ml-169                                                    2
eval_finetune-t5-xxl-lm-d4-all-og-091621                                            1
lm-eval-tr4c-1B3-rotary-1                                                           1
lm-eval-tr7d-1B3-alibi                                                              1
download-bslmeval                                                                   1
eval-bloom-int8                                                                     1
bias_evaluate                                                                       1
eval-bloom-int8-thresh-0                                                            1
eval-bloom-int8-thresh-6                                                            1
eval-opt-fp16-4                                                                     1
run_evalharness-tr11-6B3-ml                                                         1
run_evalharness-tr11-760M-ml                                                        1
run_evalharness-tr11c-6b3                                                           1
tr4c-1B3-alibi-eval                                                                 1
Name: jobname, dtype: int64

# Tokenizer

In [23]:
tokendf = df[df['jobname'].str.contains('tokenizer')]
tokendf.shape

(103, 18)

In [24]:
tokendf['jobname'].value_counts()

train_tokenizer                                                 67
modelling-metadata-example-load-model-and-tokenizer             11
modelling-metadata-website-desc-load-model-and-tokenizer        8
modelling-metadata-html-download-tokenizer-and-model            6
compare_tokenizers                                              3
modelling-metadata-entity-beg-load-model-and-tokenizer          2
modelling-metadata-exp1-subexp3-load-model-and-tokenizer        2
modelling-metadata-entity-load-model-and-tokenizer              1
modelling-metadata-exp1-subexp1-load-model-and-tokenizer        1
modelling-metadata-exp1-subexp2-load-model-and-tokenizer        1
modelling-metadata-website-desc-load-model-and-tokenizer-25k    1
Name: jobname, dtype: int64

# DATA PROCESSING, DOWNLOADING, DEDUPLICATION

In [255]:
datadf = df[df['jobname'].str.contains('data')]
datadf = datadf[~datadf['jobname'].str.contains('token')]
datadf.shape

(29359, 18)

In [256]:
datadf['jobname'].value_counts()

download_all_catalogue_datasets                                                     4507
pseudo_crawl_clean_dataset                                                          4282
preprocess_all_catalogue_datasets                                                   3146
modelling-metadata-c4-dataset-toy-add-metadata-full                                 2925
modelling-metadata-c4-dataset-toy-add-website-desc                                  2844
modelling-metadata-c4-dataset-export-to-jsonlines                                   2801
modelling-metadata-c4-dataset-toy-add-metadata-full-v3                              2761
filter_short_document_all_catalogue_datasets                                        1900
deduplicate_all_catalogue_datasets                                                  1121
modelling-metadata-c4-dataset-toy-add-metadata-full-v2                              873
convert_datasets_to_jsonl                                                           609
yong-download_dataset                                                               373
modelling-metadata-c4-dataset-toy-add-metadata                                      159
modelling-metadata-c4-dataset-toy-add-metadata-timestamp                            125
modelling-metadata-c4-dataset-toy-add-metadata-entity                               80
modelling-metadata-c4-dataset-toy-add-metadata-url                                  80
modelling-metadata-c4-dataset-toy-add-metadata-website_description                  71
modelling-metadata-html-create-dataset-test                                         63
modelling-metadata-c4-dataset-toy-add-entities                                      62
modelling-metadata-html-do-train-test                                               32
modelling-metadata-c4-dataset-toy-add-metadata-html                                 30
modelling-metadata-sync-wandb                                                       26
tetraencoder_all_datasets                                                           23
download_dataset                                                                    20
preprocess_data_megatron                                                            18
modelling-metadata-example-load-dataset                                             17
modelling-metadata-joint-toy-1                                                      16
modelling-metadata-html-metadata-exp1-subexp1-transform-checkpoints                 16
modelling-metadata-html-metadata-exp1-subexp2-create-dataset                        14
tr8-104B-data-study-data-with-many-slashes                                          14
modelling-metadata-XX                                                               14
modelling-metadata-c4-dataset-toy-add-entities-cpu-2-bs-clip-max-num                13
modelling-metadata-html-download-dataset-test                                       12
modelling-metadata-html-exp1-subexp1-evaluation-without-metadata                    12
modelling-metadata-c4-dataset-create-toy                                            12
modelling-metadata-test-format                                                      12
load_dataset                                                                        11
dummy-data-processing                                                               10
modelling-metadata-c3-dataset-toy                                                   10
modelling-metadata-html-metadata-create-dataset                                     7
modelling-metadata-html-metadata-exp1-subexp1-create-dataset                        7
modelling-metadata-html-joint-toy-1                                                 6
sharding_dataset_fr                                                                 6
make_partial_bigscience_dataset                                                     6
modelling-metadata-c4-dataset-toy-add-entities-cpu-1-bs-clip-5000                   6
modelling-metadata-c4-dataset-toy-add-entities-cpu-1-bs-2-total-1000                6
modelling-metadata-html-create-toy-dataset                                          6
modelling-metadata-html-exp1-subexp2-evaluation-without-metadata                    6
modelling-metadata-c4-dataset-toy-add-entities-cpu-1-bs-1-total-1000                6
modelling-metadata-website-desc-create-dataset-25k                                  6
modelling-metadata-c4-dataset-toy-add-entities-cpu-2-bs-1-total-1000                6
reduce_all_datasets_options                                                         6
modelling-metadata-c4-dataset-toy-add-entities-cpu-2-bs-100-total-1000              6
modelling-metadata-c4-dataset-toy-add-entities-gpu-100                              6
modelling-metadata-c4-dataset-toy-add-entities-gpu-1000                             6
modelling-metadata-c4-dataset-toy-add-entities-gpu-2000                             6
modelling-metadata-c4-dataset-toy-add-entities-gpu                                  6
modelling-metadata-html-metadata-exp1-evaluation-without-metadata-create-dataset    5
modelling-metadata-html-exp1-subexp2-train                                          5
modelling-metadata-website-desc-load-dataset-25k                                    5
modelling-metadata-entity-beg-metadata-example-create-dataset                       5
pseudo_crawl_check_erros_in_dataset                                                 5
reduce_natural_questions_dataset                                                    5
modelling-metadata-dowload-wikipedia-dataset                                        4
modelling-metadata-html-joint_training_toy2-fp16                                    4
modelling-metadata-html-joint_training_toy3-fp16-multigpu                           4
modelling-metadata-html-example-train                                               4
preprocess_data_dedup_megatron                                                      4
convert_dataset_jsonl                                                               4
modelling-metadata-c4-dataset-toy-add-entities-cpu-2-bs-no-clip                     4
modelling-metadata-c4-dataset-toy-add-entities-cpu-1-bs-no-clip                     4
download_data                                                                       4
modelling-metadata-c4-dataset-gzip-data                                             3
joint-toy-4-test-gpt2-xl-mod-metadata                                               3
tr8-104B-data-study-data-no-basic-junk                                              3
all_datasets_bs2560_hard_neg                                                        3
modelling-metadata-website-desc-load-dataset                                        3
modelling-metadata-html-XX                                                          3
modelling-metadata-example-path                                                     3
modelling-metadata-website-desc-create-dataset                                      2
modelling-metadata-test-database-download                                           2
modelling-metadata-c4-push-to-hub                                                   2
convert_dataset_jsonl_dedup                                                         2
modelling-metadata-exp1-subexp2-load-dataset                                        2
modelling-metadata-exp1-subexp3-load-dataset                                        2
modelling-metadata-c4-dataset-toy-download-flair-model                              2
all_datasets                                                                        2
modelling-metadata-c4-dataset-toy-add-entities-cpu-1-bs-clip-5000-full              2
modelling-metadata-c4-dataset-toy-add-entities-cpu-1-bs-no-clip-full                2
modelling-metadata-html-exp1-subexp1-train                                          2
tr8-104B-data-study-data-junk-with-stopwords                                        1
tr8-104B-data-study-data-basic-junk-only                                            1
tr8-104B-data-study-data-with-only-slashes                                          1
modelling-metadata-website-desc-clean-train-25k                                     1
tr8-104B-data-study-data-basic-junk                                                 1
tr8-104B-data-study-TEMPLATE                                                        1
reduce_all_datasets                                                                 1
all_datasets_bs3072_hard_neg                                                        1
tr8-104B-data-study-data-basic-junk-only2                                           1
modelling-metadata-entity-metadata-example-create-dataset                           1
tr8-104B-data-study-data-basic-junk-and-low-stopwords                               1
tr8-104B-data-study-data-basic-junk-and-low-stopwords2                              1
modelling-metadata-entity-load-dataset                                              1
modelling-metadata-c4-import-dataset-retry                                          1
modelling-metadata-c4-import-dataset-more-time                                      1
modelling-metadata-c4-import-dataset                                                1
modelling-metadata-entity-example-train                                             1
modelling-metadata-website-desc-train                                               1
modelling-metadata-entity-beg-load-dataset                                          1
modelling-metadata-html-metadata-example-create-dataset                             1
modelling-metadata-c4-dataset_import-c4                                             1
modelling-metadata-html-metadata-exp1-subexp3-create-dataset                        1
modelling-metadata-html-exp1-subexp3-train                                          1
modelling-metadata-html-metadata-exp1-subexp2-transform-checkpoints                 1
modelling-metadata-html-metadata-exp1-subexp3-transform-checkpoints                 1
modelling-metadata-exp1-subexp1-load-dataset                                        1
Name: jobname, dtype: int64